#nav,
#phpeace-logo,
#maintitle,
#phpeace-disclaimer {
    display: none;
}

#content {
    border-top: solid 1px #000;
}

a {
    color:#000;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    margin-bottom: 1em;
}  
th, td {
    border: 1px solid black;
}

.breadcrumb {
    font-style: italic;
    font-size: 1.1em;
}

.right {
    text-align: right;
}