body, input, select, td
{
	font-family: Arial, sans-serif;
}

body,td,input
{
	font-size: 95%;
}

body
{
	padding:1em;
}

a
{
	color:#04f;
}

a:hover
{
	color:#f09;
}

img#logo
{
	margin-bottom: 1em;
}

.error
{
	color: red;
	font-weight:bold;
}

li
{
	margin: 10px 0px;
}

#button-bar
{
	border-top: solid 1px #009;
	padding:1em;
}

input
{
	padding: 0 0.2em;
	background-color:#eee;
}

td.input-label
{
	text-align:right;
}

ul.msg
{
margin: 1em 0;
background-color: #fda;
padding: 3px;
border: solid 1px #da8;
list-style: none;
}

ul.msg li
{
margin: 0.4em;
}
