#article-content {
background: url("/images/custom/bg-container.png") repeat-y scroll -960px 0 transparent;
padding:1em;
}

#article-content h1 { margin-top:0.5em; }

h2 {
margin:1em 0 0.2em 0;
font-size:1.4em;
}

h3 {
margin:1em 0 0 0;
font-size:1.2em;
}

blockquote {
background-color:#eee;padding:0.4em;
font-style:italic;
}

p {
margin:0.3em 0 1em 0;
}

/* ALIGNMENT */

.text-justify
{
text-align: justify;
}

.text-left
{
text-align: left;
}

.text-right
{
text-align: right;
}

.text-center
{
text-align: center;
}


/* IMAGES */

img
{
border-width:0;
}

img.right,
.flash-right
{
float:right;
margin: 1em 0em 1em 1em;
}

img.left,
.flash-left
{
float:left;
margin: 1em 1em 1em 0em;
}

img.standalone,
.flash-standalone
{
display:block;
margin:0.5em 0;
}


/* ARTICLE BOXES */

.article-box
{
padding: 1em;
margin: 1em 0;
background: url("/images/custom/bg-container.png") repeat-y scroll -960px 0 transparent;
}

.align0
{
float:right;
margin: 1em 0 1em 1em;
}

.align1
{
float: left;
margin: 1em 1em 1em 0;
}

.width0
{
width: 100px;
}

.width1
{
width: 200px;
}

.width2
{
width: 300px;
}

.width3
{
width: 400px;
}

.article-box .title
{
font-weight: bold;
font-size:1.8em;
text-align: center;
}


/* ARTICLE RELATED */

#article-related {
float:left;
margin: 1em 0;
padding:0;
width:95%;
}

ul.related
{
margin: 0;
padding:0;
}

ul.related li
{
margin: 0.5em;
}


/* ARTICLE DOCS */

#article-docs
{
float:left;
background: url("/images/custom/bg-container.png") repeat-y scroll -960px 0 transparent;
margin: 1em 0 0 -1em;
padding:1em;
width:100%;
}

#article-docs h3
{
/*background-color: #EFEFEF;*/
padding:0.2em 0.5em;
font-weight:bold;
}

ul.article-docs
{
padding:0;
margin:0;
}

ul.article-docs li
{
border-left: 5px solid #FF9A00;
border-bottom: 1px solid #111111;
padding: 0.5em;
margin: 0.5em;
}

ul.article-docs li .title
{
font-weight: bold;
}

ul.article-docs li .format-info
{
background-color:#eee;
padding:0.5em;
margin:0.5em 0;
}


/* TRANSLATION */

#article-trad {
margin: 1em 0;
padding:0.5em;
border-top: solid 1px #ccc;
font-size: 0.9em;
font-style: italic;
}

#article-trad .trad-original,
#article-trad .trad-notes {
margin:0.5em 0;
}

#article-trad .trad-original a {
margin-left: 0.3em;
}

#art-translations {
float:right;
width:20%;
margin:0.5em;
padding:0.5em;
background-color:#ddd;
}

#art-translations ul {
font-size:0.9em;
margin:0;
}

/* VIDEOS */

body.article .video-box {
float:left;
margin: 0.5em 1em 1em 0;
}


body#tinymce {
font-size:0.75em;
}


/* IMAGE ZOOM */

.highslide-caption {
text-align:left;
font-style:italic;
font-size:0.95em;
padding:0.4em;
background-color:#fff;
}

.highslide-caption .image-caption {
margin-bottom:0.5em;
} 

.highslide-caption .image-author, 
.highslide-caption .image-source {
font-size:0.95em;
margin-bottom:0.2em;
} 

.highslide-caption .image-close {
margin-top:0.5em;
padding:2px;;
background-color:#eee;
text-align:center;
text-transform:uppercase;
} 

.highslide-caption .image-close:hover {
background-color:#eef;
}

.highslide-caption .image-close a {
text-decoration:none;
}
