/* books */

ul.categories li
{
margin-bottom:0.5em;
}

ul.categories li .category-name
{
font-size:1.1em;
font-weight:bold;
}

li.book-item
{
margin-bottom:0.5em;
}

.book-item img,
.book img
{
margin-right:1em;
margin-bottom:0.5em;
float:left;
}

li.book-item .book-info
{
margin-left: 90px;
}

.book
{
float:left;
width:95%;
}

.book #book-summary
{
margin-left:250px;
padding-left:1em;
}

.book #book-details
{
clear:left;
}

.book #book-article
{
margin:1em 0;
}

.book #book-article p
{
margin:0;
}

.book #reviews
{
clear:left;
float:left;
margin:1em 0;
border:solid 1px #bbb;
padding:0;
}

#reviews h2
{
margin:0;
font-size:1em;
background-color:#ccc;
padding:0.1em 0.3em;
}

#reviews .review-item
{
width:95%;
padding-bottom:0.5em;
border-bottom:dashed 1px #ddd;
}

#reviews .review-item .author
{
font-style:italic;
font-size:0.9em;
}

#reviews .review-item .vote
{
font-weight:bold;
}

#review-insert
{
margin-top:1em;
}

ul.params
{
padding:0 0.5em;
}

ul.params li
{
margin:0;
font-size:0.9em;
}

.param-label 
{
font-weight:bold;
float:left;
}