/* gallery group */

ul.groups
{
padding:0 0 0 0.5em;
margin:0;
}

ul.groups li
{
margin:0;
padding:0.1em;
}


ul.groups li.selected 
{
font-weight:bold;
}

ul.groups li.selected ul
{
font-weight:normal;
}

/* GALLERY ITEM */

ul.galleries
{
float:left;
width:95%;
}

ul.galleries li
{
margin-bottom: 1em;
clear:left;
}

ul.galleries li img
{
margin-right:0.5em;
margin-bottom: 1em;
float:left;
}

/* GALLERY ITEMS */

ul.items li.gallery_thumb-item
{
margin-bottom: 1em;
}

ul.items li.gallery_thumb-item img,
ul.items li.gallery_thumb-item .caption
{
display:inline;
margin-right:1em;
}


/* GALLERY BOX */

#gallery
{
margin:0;
padding:0.3em;
border:solid 1px #666;
}

#gallery h2
{
margin:0;
}

/* GALLERY IMAGE */

.gallery-image {
margin:1em 0;
float:left;
width:95%;
}

.gallery-image img {
float:left;
margin-right:1em;
margin-bottom:1em;
}

.gallery-image .image-info {
float:left;
margin-right:1em;
}

.gallery-image .image-info .image-date, 
.gallery-image .image-info .source, 
.gallery-image .image-info .orig, 
.gallery-image .image-info .notes, 
.gallery-image .image-info .author {
font-size:0.8em;
margin:0.4em 0;
}

.gallery-image .image-info .orig, 
.gallery-image .image-info .notes {
border-top: dashed 1px #666;
padding:0.4em 0;
}

/* SLIDESHOW */

h3.slideshow {
margin:0.4em 0;
}

h3.slideshow a,
#gallery h2 a {
text-decoration:none;
}

#slide-caption {
padding-left:1em;
}

