/* geosearch */

#geonav {
border:solid 1px #ccc;
float:left;
width:20%;
padding:0.5em;
}

ul.keyword-children {
margin:0;
padding:0.2em 0 0.5em 1em;
}

#articles-geosearch {
float:left;
width:75%;
margin-left:1em;
}