/* CSS */

#meet-content ul.meeting-slots li {
margin-bottom:0.8em;
}

#meet-content ul.meeting-slots li .description {
font-size:0.9em;
font-style:italic;
}

#meet-content ul.meeting-slots ul.participants {
list-style-type: disc;
}

#meet-content form.meet-form ul.meeting-slots {
float:left;
width:90%;
}

#meet-content form.meet-form ul.meeting-slots li {
clear:left;
}