/* CSS */

#categories
{
border:inset 1px #ccc;
margin: 1em 0;
padding:0.5em;
}

#categories h3
{
margin:0;
}

#categories ul.keywords
{
margin:0;
padding:0;
}


img.org-image {
float:right;
margin:0 0 1em 1em;
}


/* DOCS */

#org-docs
{
border: solid 1px #aaa;
margin: 1em;
padding:0;
}

#org-docs h3
{
background-color: #ddd;
padding:0.2em 0.5em;
font-weight:bold;
}

ul.article-docs
{
padding:0;
margin:0;
}

ul.article-docs li
{
border: solid 1px #ccc;
padding: 0.5em;
margin: 0.5em;
}

ul.article-docs li .title
{
font-weight: bold;
}

ul.article-docs li .format-info
{
background-color:#eee;
padding:0.5em;
margin:0.5em 0;
}


/* SEARCH */

h3#search-adv {
padding:0.5em;
margin:1em 0;
float:left;
width:400px;
}

form#org-search fieldset {
float:left;
width:90%;
margin-bottom:1em;
}
