/* CSS */

ul.form-inputs {
padding:0 1em;
}

ul#poll-questions li:hover {
background-color:#eee;
}

ul#poll-questions label {
font-size:1em;
width:60%;
float:none;
}

ul#poll-questions li .description {
font-size:0.9em;
font-style:italic;
width:60%;
margin-left:3em;
}

ul#poll-questions li.buttons {
padding:1em;
}

ul#poll-questions li.buttons:hover {
background-color:#fff;
}

#results-link {
margin: 0 1em;
}

#poll-thanks {
margin:1em;
}

.question-weight, .vote-weight {
font-size:0.8;
font-style:italic;
color:#aaaaaa;
}