#articles-search h2,
#books-search h2,
#right-bar h2 {
font-size:1.2em;
margin:0;
}

#right-bar #search-info {
text-align:center;
}

#articles-search,
#books-search {
float:left;
width:98%;
padding-bottom:1em;
margin-bottom:0.5em;
}

.search #right-bar {
float:right;
width:22%;
font-size:0.9em;
text-align:left;
background-color:#eee;
padding:0.4em;
}

.search #main #center {
float:left;
width:53%;
margin-left:1%;
}

#right-bar #search-info {
margin-bottom:1em;
background-color:#fff;
}

#right-bar #search-info div {
font-size: 0.8em;
}

#right-bar h3 a {
text-decoration:none;
}
